---
layout: compress
---

<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}  
  <body>
	  
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5B6NCC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->	  
	  
    <main role="main">
	    
	    {% include navigation.html %}
	    
        {{ content }}
        	    
    </main>
            
  </body>
</html>
