---
layout: default
---

<section class="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
  <span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
    <a href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>

    <script src="https://giscus.app/client.js"
        data-repo="TLeonardUK/TLeonardUK.github.io"
        data-repo-id="R_kgDOHX9G1w"
        data-category="Blog Comments"
        data-category-id="DIC_kwDOHX9G184CPd1j"
        data-mapping="{{ page.url }}"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>
</section>


